	  <header class="bar bar-nav">
	  	<a class="btn-bar btn-nav pull-left btn-back-img"  href="javascript:;" onclick="history.back();">
	  		<span class="icon icon-left-nav pull-left"></span>
	  		<img class="vertical-center" src="assets/img/logo-mini.png"/>
	  	</a>
	  	<h1 class="title">Carbón</h1>
	  </header>

	  <div class="content">
		  	<ul class="table-view">
		  		<li class="table-view-row">
		  			<div>Parcela: </div>
		  			<div>{{rotulo_parcela}}</div>
		  		</li>   
		  		<li class="table-view-row">
		  			<div>Cultivo: </div>
		  			<div>{{cultivo}}</div>
		  		</li>  
		  		<li class="table-view-row">
		  			<div>Área: </div>
		  			<div>{{area}} ha</div>
		  		</li>   
	  			<li class="titulo-separador frm-pre-subtitulo">
		  			<div>Muestras de Carbón</div>
		  		</li>

		  		<div class="bloque-separador">
		  			<li class="table-view-row">
		  				<div>Número de Cepas: </div>
		  				<div>
			  				<input type="number" value="0" class="holo _numero-cepas"/>
			  			</div>
		  			</li>
		  			<li class="table-view-row">
		  				<div>Número de látigos: </div>
		  				<div>
			  				<input type="number" value="0" class="holo _numero-latigos"/>
			  			</div>
		  			</li>
		  		</div>
		  		<div>
		  			<li class="table-view-row frm-subtitulo" style="grid-template-columns: 50% auto;">
		  				<div>Látigos por Cepa</div>
		  				<div class="_latigos-cepa text-right" style="display:block">0.00</div>
		  			</li>
		  			<li class="table-view-row frm-subtitulo" style="grid-template-columns: 50% auto;">
		  				<div>Látigos por 1 Ha</div>
		  				<div class="_latigos-area text-right" style="display:block">0.00</div>
		  			</li>
		  		</div>
		  		{{#if puedo_registrar}}
		  		<div style="padding:10px 24px 0px 24px">
			  		<button id="btn-guardar-muestra" class="btn btn-block btn-block-normal">Finalizar evaluación</button>
			  	</div>
			  	{{else}}
			  		<li class="table-view-row row-full" >
						<div class="frm-resumen text-center">Evaluación finalizada.</div>
					</li>
			  	{{/if}}

		</ul>
	  	<!-- <ul class="table-view" id="frm-resumen" style="padding-top: 32px;"></ul> -->

	 </div>

