    	<header class="bar bar-nav">
    		<div class="btn-bar btn-nav pull-left">
    			<img class="vertical-center" src="assets/img/logo-mini.png"/>
    		</div>
            <a class="icon icon-pages pull-right" title="Cerrar Sesión" onclick="cerrarSesion();"></a>
    		<h1 class="title">Inicio</h1>
    	</header>

    	<div class="content">
    		<div class="content-padded text-center">
    			<h3>Cayaltí Agri</h3>
    			<h5>Bienvenido, {{nombre_usuario}}</h5>
    			<button id="btn-actualizar" class="btn btn-primary">ACTUALIZAR</button>
    			<p class="lbl-actualizar"></p>
    			<button id="btn-enviar" class="btn btn-md btn-positive bg-green">SINCRONIZAR</button>
                 <p class="lbl-enviar"></p>
    			<hr>
    			<button class="btn" id="btn-mapa" disabled>
    				<img class="img-btn" src="assets/img/icon_mapa.png"/>
    				<div>VER MAPA</div>
    			</button>
    			<button class="btn" id="btn-listas">
    				<img class="img-btn" src="assets/img/icon_lista.png"/>
    				<div>VER LISTAS</div>
    			</button>
    		</div>   

	          <!--
	          <a href="#myModalexample" class="btn">Open modal</a>
				<div id="myModalexample" class="modal">
				  <header class="bar bar-nav">
				    <a class="icon icon-close pull-right" href="#myModalexample"></a>
				    <h1 class="title">Modal</h1>
				  </header>

				  <div class="content">
				    <p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
				  </div>
				</div>
			-->
		</div>
