<header class="bar bar-nav">
	          <a class="btn-bar btn-nav pull-left btn-back-img"  href="javascript:;" onclick="history.back();">
		        <span class="icon icon-left-nav pull-left"></span>
	          	<img class="vertical-center" src="assets/img/logo-mini.png"/>
	          </a>
	          <h1 class="title">Lista de Parcelas</h1>
	    </header>
	    <div class="bar bar-standard bar-header-secondary" style="display:flex;height: 75px;">	    		
	    </div>
	    <div class="content"></div>