<div class="table-view-row row-trio">
	<div>
		<input type="number" class="holo _largo"/>
	</div>
	<div>
		<input type="number" class="holo _diametro"/>
	</div>
	<div>
		<input type="number" class="holo _entrenudos"/>
	</div>
</div>
<li class="table-view-row frm-resumen">
	<div>Largo de nudos: </div>
	<div class="text-right" style="display:block"><span class="_largo-nudos"></span>cm  <a class="_quitar-entrenudo"><span class="icon icon-close"></span></a></div>	
</li>