<div class="table-view-row row-duo">
	<div>
		<input type="number" class="holo _tallos"/>
	</div>
	<div>
		<input type="number" class="holo _tallos-latigos"/>
	</div>
</div>
<li class="table-view-row frm-resumen">
	<div>Porcentaje dañados: </div>
	<div class="text-right" style="display:block"><span class="_porcentaje-dañados"></span>%  <a class="_quitar-carbon"><span class="icon icon-close"></span></a></div>	
</li>